In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("treedump.csv")

In [3]:
df.head()

,Age_uid,Age_hi,Age_lo,Age_m2,Age_mu,Age_n,Age_sd,Education-num_uid,Education-num_hi,Education-num_lo,...,Hours-per-week_lo,Hours-per-week_m2,Hours-per-week_mu,Hours-per-week_n,Hours-per-week_sd,probability!_uid,probability!_mode,probability!_most,probability!_n,Unnamed: 47
0,1,70,18,33113.863874,35.230366,191,13.201647,2,16,4,...,8,30960.743455,41.036649,191,12.765237,8,0,146,191,NaN
1,1,70,17,35883.591623,34.471204,191,13.742671,2,16,1,...,3,33875.172775,39.445026,191,13.352542,8,0,144,191,NaN
2,1,70,17,31885.183246,33.141361,191,12.954411,2,16,2,...,7,26668.293194,40.722513,191,11.847339,8,0,150,191,NaN
3,1,70,17,37062.198953,34.214660,191,13.966539,2,16,1,...,10,28169.382199,40.267016,191,12.176202,8,0,149,191,NaN
4,1,70,17,35837.811518,34.031414,191,13.733902,2,16,1,...,4,31501.832461,40.193717,191,12.876301,8,0,153,191,NaN

In [4]:
df.columns

Index(['Age_uid', 'Age_hi', 'Age_lo', 'Age_m2', 'Age_mu', 'Age_n', 'Age_sd',
       'Education-num_uid', 'Education-num_hi', 'Education-num_lo',
       'Education-num_m2', 'Education-num_mu', 'Education-num_n',
       'Education-num_sd', 'race_uid', 'race_mode', 'race_most', 'race_n',
       'sex_uid', 'sex_mode', 'sex_most', 'sex_n', 'Capital-gain_uid',
       'Capital-gain_hi', 'Capital-gain_lo', 'Capital-gain_m2',
       'Capital-gain_mu', 'Capital-gain_n', 'Capital-gain_sd',
       'Capital-loss_uid', 'Capital-loss_hi', 'Capital-loss_lo',
       'Capital-loss_m2', 'Capital-loss_mu', 'Capital-loss_n',
       'Capital-loss_sd', 'Hours-per-week_uid', 'Hours-per-week_hi',
       'Hours-per-week_lo', 'Hours-per-week_m2', 'Hours-per-week_mu',
       'Hours-per-week_n', 'Hours-per-week_sd', 'probability!_uid',
       'probability!_mode', 'probability!_most', 'probability!_n',
       'Unnamed: 47'],
      dtype='object')

In [5]:
len(df)

256